# Data Science Capstone Project 
### John Heinitz
### January 31, 2021

## 1. Introduction

### 1.1 Background

#### Owning and operating a small business has been a dream of mine since I was a kid. The data analysis provided below will hopefully allow me to turn that long-term dream into a REALITY. The small business I will be trying to start is a restaurant. The two main aspects to a successful restaurant are location and menu. Therefore, I will be focusing on how to pick the location and what types of food and drink I would offer.

### 1.2 Problem

#### Let's take a closer look into how I might be able to solve my current roadblocks, location and menu. Starting with location, I am hoping to start the business somewhere in Washington state that is established, while offering a high expected population growth rate. Finding an area with a high expected growth rate will be key to the long-term success of the restaurant. To achieve this, I will outline the top growth counties in Washington State to narrow my search. Once the top ten location areas have been determined, I will determine the optimal menu based on the competition surrounding the area and population demographics.

## 2. Data acquisition and cleaning

### 2.1 Data Sources

#### Population data - Used to narrow down ten possible locations. The data source will allow me to forecast population trends by county and can be found here:: https://ofm.wa.gov/washington-data-research/population-demographics/population-estimates/estimates-april-1-population-age-sex-race-and-hispanic-origin . 
#### Four square API data - Used to determine menu. The menu decision will rely on what the top counties currently offer and what it may be missing. I am hopeful to outline a cuisine that isn't saturated but still shows success in comparable counties. The data source can be found here: https://developer.foursquare.com/ . (*Note -- The data will be accessed using an API call outlined during the exploratory data analysis section.)

### 3. Exploratory Data Analysis

### 3.1 Import necessary packages - will evolve as project matures

In [43]:
import pandas as pd 
import numpy as np
import datetime as datetime
import matplotlib.pyplot as plt
import seaborn as sns
# from fbprophet import Prophet                # Current issue with install - Will be used to forecast population
from statsmodels.tsa.arima_model import ARIMA  # Will be used to forecast population - model comparison 
print('Finished importing necessary packages')

Finished importing necessary packages

#### 3.1 Population Data via OFM

In [41]:
pop = pd.read_excel(r'C:\Users\JH\Desktop\Coursera_Files\Coursera_Capstone\FinalProject\DataSources\Population10_20.xlsx'\
                   ,sheet_name='Total')
pop = pop.loc[~pop.isin(['.']).any(axis=1)].reset_index()
pop.head(25)

,index,Area Name,Area ID,Year,Age Group,Total,Male,Female,White Total,White Male,...,AIAN Female,Asian Total,Asian Male,Asian Female,NHOPI Total,NHOPI Male,NHOPI Female,Two or More Races Total,Two or More Races Male,Two or More Races Female
0,0,Washington,53,2010,0-4,439657,225088,214569,330767,169310,...,5071,29772,15230,14542,4014,2046,1968,44305,22573,21732
1,1,Washington,53,2010,5-9,429877,219702,210175,328738,168464,...,4958,30321,15076,15245,3754,1869,1885,37894,19304,18590
2,2,Washington,53,2010,10-14,438233,224717,213516,341109,175465,...,5026,28676,14330,14346,3835,1954,1881,34885,17626,17259
3,3,Washington,53,2010,15-19,462128,237577,224551,362275,186516,...,5284,33549,17001,16548,4153,2114,2039,30585,15399,15186
4,4,Washington,53,2010,20-24,461512,238131,223381,365196,188806,...,5013,36759,18425,18334,4361,2231,2130,23382,11437,11945
5,5,Washington,53,2010,25-29,480398,245014,235384,382519,196579,...,4665,41552,19575,21977,4148,2084,2064,21243,10140,11103
6,6,Washington,53,2010,30-34,453383,229863,223520,361019,184376,...,4313,42240,19613,22627,3688,1865,1823,17976,8774,9202
7,7,Washington,53,2010,35-39,448607,226850,221757,359195,183183,...,4093,44488,20385,24103,3269,1652,1617,14404,6821,7583
8,8,Washington,53,2010,40-44,459698,232587,227111,378837,193018,...,4035,39042,17635,21407,2837,1445,1392,12106,5799,6307
9,9,Washington,53,2010,45-49,492909,246507,246402,415812,209115,...,4203,36075,15929,20146,2716,1357,1359,11149,5329,5820
10,10,Washington,53,2010,50-54,495296,245997,249299,425246,212340,...,4054,32654,14139,18515,2305,1152,1153,9901,4734,5167
11,11,Washington,53,2010,55-59,453078,221321,231757,395896,194556,...,3285,28438,11993,16445,1643,811,832,7555,3548,4007
12,12,Washington,53,2010,60-64,382087,186378,195709,339071,166514,...,2389,22645,9634,13011,1177,595,582,5214,2453,2761
13,13,Washington,53,2010,65-69,270474,131064,139410,242526,118326,...,1622,15362,6493,8869,681,331,350,3338,1516,1822
14,14,Washington,53,2010,70-74,186746,88760,97986,166764,79734,...,1028,11726,5038,6688,446,202,244,2139,1000,1139
15,15,Washington,53,2010,75-79,142068,64325,77743,128290,58723,...,684,8328,3150,5178,262,116,146,1426,625,801
16,16,Washington,53,2010,80-84,111118,45743,65375,102085,42446,...,382,5603,1888,3715,136,57,79,868,352,516
17,17,Washington,53,2010,85+,117271,40083,77188,109917,37591,...,356,4455,1532,2923,80,30,50,736,252,484
18,18,Washington,53,2010,Total,6724540,3349707,3374833,5535262,2765062,...,60461,491685,227066,264619,43505,21911,21594,279106,137682,141424
19,20,Adams,53001,2010,0-4,2015,1071,944,1821,965,...,63,15,7,8,0,0,0,22,12,10
20,21,Adams,53001,2010,5-9,1811,924,887,1638,841,...,53,17,8,9,1,0,1,33,18,15
21,22,Adams,53001,2010,10-14,1647,831,816,1497,765,...,44,16,6,10,2,2,0,29,15,14
22,23,Adams,53001,2010,15-19,1649,907,742,1516,842,...,39,19,9,10,0,0,0,22,13,9
23,24,Adams,53001,2010,20-24,1261,664,597,1128,603,...,49,14,6,8,0,0,0,11,7,4
24,25,Adams,53001,2010,25-29,1242,612,630,1135,554,...,31,8,5,3,0,0,0,19,9,10

In [42]:
# parser is currently not working so will use my local files for now. I will update this for part 2 
# pop = pd.read_html('http://www.ofm.wa.gov/sites/default/files/public/dataresearch/pop/asr/sade/ofm_pop_sade_county_2000_to_2010.xlsx',header=0)[0]
# print('loaded')

### 3.2 Foursquare API setup

#### Set your own credentials below to follow along

In [ ]:
# @hidden_cell
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 100 # A default Foursquare API limit value

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

### part 2 (next week) - Future exploratory analysis, forecasts, and conclusions